NEXT_PUBLIC_ENABLE_AI_INTERVIEW=true
NEXT_PUBLIC_ENABLE_HPC_LAB=false
AI_INTERVIEW_OLLAMA_URL=http://127.0.0.1:11434
AI_INTERVIEW_STT_URL=http://127.0.0.1:9000
AI_INTERVIEW_TTS_URL=http://127.0.0.1:8000
